/.vs/
/SharpLesson1/bin/
/SharpLesson1/obj/
/SharpLesson2/bin/
/SharpLesson2/obj/
/SharpLesson4/bin/
/SharpLesson4/obj/
/EmployeeWPF/bin/
/EmployeeWPF/obj/
/EmployeeDepartment_WS/bin/
/EmployeeDepartment_WS/obj/
/packages/